.tablo {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden; }

.tablo_header th {
  padding: 0px 15px;
  text-align: left;
  border: 1px solid silver;
  z-index: 3;
  position: relative;
  line-height: 2.4; }
  .tablo_header th:after {
    content: '';
    display: block;
    border-bottom: 1px solid silver;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%; }

.tablo_data:nth-of-type(odd) {
  background-color: #e6e6e6; }
.tablo_data:hover {
  background-color: #ffffcc; }
.tablo_data td {
  position: relative;
  border: 1px solid silver; }
  .tablo_data td:hover:after {
    background-color: #ffffcc;
    visibility: visible;
    width: 100%;
    height: 5000px;
    top: -2500px;
    left: 0;
    z-index: 1;
    display: block;
    content: '';
    position: absolute; }
  .tablo_data td:before {
    content: '';
    display: block;
    border-bottom: 1px solid silver;
    position: absolute;
    bottom: -1px;
    z-index: 2;
    left: 0;
    width: 100%; }

.tablo_flight_content {
  display: block;
  padding: 0px 15px;
  position: relative;
  z-index: 2; }

/*
	flight type icons
*/
.tablo_flight-type:before {
  content: '';
  display: inline-block;
  background-image: url(../img/icon-pack.png);
  background-size: auto 100%;
  width: 25px;
  height: 25px;
  vertical-align: middle; }

.tablo_flight-type__arrival:before {
  background-position: 0px 0px; }

.tablo_flight-type__departure:before {
  background-position: -25px 0px; }
