$mN: 'tablo'; // moduleName
$headPadding: 0px 15px;
$bodyPadding: $headPadding;
$border: 1px solid silver;
$hlColor: #ffffcc;

// ranges
$r_important: (
	high-important: 40.625em, // 650 px
	mid-important: 46.875em, // 750 px
	low-important: 56.25em   // 900 px
);

@each $state, $width in $r_important {
	@media (max-width: #{$width}) {
		.#{$mN}\:#{$state} {
			display: none;
		}
	}
}

// filtering


// module styles

.#{$mN} {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
}
.#{$mN}_header {
	th {
		padding: $headPadding;
		text-align: left;
		border: $border;
		z-index: 3;
		position: relative;

		&:after {
			content: '';
			display: block;
			border-bottom: $border;
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
		}
	}
}
.#{$mN}_body {}
.#{$mN}_data {
	&:nth-of-type(odd) {
		background-color: #e6e6e6;
	}
	&:hover {
		background-color: $hlColor;
	}
	td {
		position: relative;
		border: $border;
		&:hover {
			&:after {
				background-color: $hlColor;

				visibility: visible;
				width: 100%;
				height: 5000px;
				top: -2500px; left: 0;
				
				z-index: 1;
				display: block;
				content: '';
				position: absolute;
			}
		}
		&:before {
			content: '';
			display: block;
			border-bottom: $border;
			position: absolute;
			bottom: -1px;
			z-index: 2;
			left: 0;
			width: 100%;
		}
	}
}
.tablo_flight_content {
	display: block;
	padding: $bodyPadding;
	position: relative;
	z-index: 2;
}

/*
	flight type icons
*/
.#{$mN}_flight-type:before {
	content: '';
	display: inline-block;
	background-image: url(../img/icon-pack.png);
	background-size: auto 100%;
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.#{$mN}_flight-type__arrival:before {
	background-position: 0px 0px;
}
.#{$mN}_flight-type__departure:before {
	background-position: -25px 0px;
}